.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 10px 0;
  }

  .sign-up-form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    width: max-content;

    button {
      margin-top: 10px;
    }

    .group {
      margin: 10px 0;

      input {
        margin: 0;
      }
    }
  }
}
